<template lang='pug'>
#MyFirstSlideshow.eg-theme-agrume
  .eg-slideshow
    slide(enter='bounceInRight' leave='fadeOut')
      .center
        p What shall I call you ?
        input.center(v-model='username')

    slide.local-eg-theme-forest-road(leave='none'
      :steps=5, enter='bounceInDown')
      eg-transition(enter='fadeIn' leave='fadeOut')
        h3(v-if='step <2').
          What's in it for {{username}}?

      eg-transition(enter='fadeIn' leave='fadeOut')
        .quarter(v-if='step >=2')
          img(src='./assets/icons/basic_paperplane.svg')
          h4 EASE OF USE
          p Clear syntax, live preview

      eg-transition(enter='fadeIn' leave='fadeOut')
        .quarter(v-if='step >=3')
          img(src='./assets/icons/basic_share.svg')
          h4 MODULARITY
          p Reuse slides and styles

      eg-transition(enter='fadeIn' leave='fadeOut')
        .quarter(v-if="step >= 4")
         img(src='./assets/icons/basic_mixer2.svg')
         h4 INTERACTIVITY
         p Embed forms and live demos

      eg-transition(enter='fadeIn' leave='fadeOut')
        .quarter(v-if="step >= 5")
          img(src='./assets/icons/basic_display.svg')
          h4 PORTABILITY
          p Play in any browser

    slide(leave='none' enter='bounceInDown')
      eg-transition(enter='fadeIn' leave='fadeOut')
        eg-modal
          h3 You right now:
          .center
            img(:src="preloadedImages['youRightNow']",
                :style="{height: '10em'}")

    slide
      h2 Online learning is not passive learning
      h4 ...but they can learn by sitting actively

    slide(enter='fadeIn')
      h3 Want cool effects?
      p.
        Code your own, or try stealing for the other slideshows !
</template>

<script>
import eagle from 'eagle.js'

export default {
  data: function () {
    return {
      username: 'IP Attendees',
      preloadedImages: {
        computerKid: 'https://i.imgur.com/AAlntwU.gif',
        youRightNow: 'https://i.imgur.com/DFBTj0a.gif'
      }
    }
  },
  mixins: [ eagle.slideshow ],
  infos: {
    // These infos appear on the home page, below the slideshow's thumbnail
    title: 'Online learning is not passive learning',
    description: 'And how to overcome some of them',
    path: 'your-first-slideshow'
  }
}
</script>

<style lang='scss'>
@import 'node_modules/eagle.js/dist/themes/agrume/agrume';
@import url(https://fonts.googleapis.com/css?family=Raleway);
#MyFirstSlideshow{
  color: #d2d2d2;

  // STYLES THAT ARE GLOBAL FOR THIS PARTICULAR SLIDESHOW
  h3 {
    font-weight: normal;
    text-transform: uppercase;
  }
  .eg-slide-content {
    width: 25em;
    max-width: 80%;
    margin: 0 auto;
  }

  // LOCAL THEMES FOR SLIDES

  .local-eg-theme-artic {
    background-color: #d2d2d2;
    background-image: none;
    color: #fff;
    h1 {
      font-weight: bold;
      font-size: 3em;
    }
    h1, p {
      font-family: "Comfortaa", Helvetica, Arial, sans-serif;
      margin-top: 0;
      position: absolute;
      top:50%;
      left:50%;
      transform: translateX(-50%) translateY(-50%);
      width: 80%;

      text-shadow: 0 0.01em 0 #ccc,
                   0 0.02em 0 #c9c9c9,
                   0 0.03em 0 #bbb,
                   0 0.04em 0 #b9b9b9,
                   0 0.05em 0 #aaa,
                   0 0.06em 0.01em rgba(0,0,0,.1),
                   0 0 0.05em rgba(0,0,0,.1),
                   0 0.01em 0.03em rgba(0,0,0,.3),
                   0 0.03em 0.05em rgba(0,0,0,.2),
                   0 0.05em 0.1em rgba(0,0,0,.25),
                   0 0.1em 0.1em rgba(0,0,0,.2),
                   0 0.2em 0.2em rgba(0,0,0,.15);
    }
  }
  .local-eg-theme-foreword {
    @import url(https://fonts.googleapis.com/css?family=EB+Garamond);
    background: url('./assets/pw_maze_black.png') repeat;
    font-family: 'EB Garamond';
    color: #ccc;
    .eg-slide-content {
      max-width: 90%;
      width: 15em;
    }
    p {
      margin-top: 30%;
    }
  }

  .local-eg-theme-bretagne {
    @import url(https://fonts.googleapis.com/css?family=Pompiere);
    h3 {
      // letter-spacing: 1px;
      font-family: 'Pompiere';
      text-transform: none;
      font-size: 3em;
      color: rgba(255, 255, 255, .6);
    }
    background-image: url(https://i.imgur.com/rYkJ6I8.jpg);
    background-position: center;
    background-size: cover;
  }
  .local-eg-theme-forest-road {
    @import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);
    h3 {
      font-family: 'Cabin Sketch';
      margin-top: 50%;
      text-align: left;
      color: rgba(255, 255, 255, .9);
    }
    background-image: url(https://i.imgur.com/hxTMFZW.jpg);
    background-position: center;
    background-size: cover;

  }

  .local-eg-theme-spark {
    @import url(https://fonts.googleapis.com/css?family=Special+Elite);
    h3 {
      position: absolute;
      font-family: 'Special Elite';
      color: rgba(255, 255, 255, .8);
      font-size: 1em;
      bottom: 10%;
      float: left;
    }
    background-image: url(https://i.imgur.com/FL9mwpd.jpg);
    background-position: center;
    background-size: cover;
  }
  .local-eg-theme-city {
    @import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
    @import './assets/monokai';
    .eg-code-block {
      margin-top: 30%;
    }
    .code-box {
      box-shadow: 0 0 0.25em 0.25em #ddd
    }
    background-image: url(https://i.imgur.com/kmmHith.jpg);
    background-position: center;
    background-size: cover;
  }
  .local-eg-theme-space {
    @import url(https://fonts.googleapis.com/css?family=Forum);
    h3 {
      font-family: 'Forum';
      font-size: 1.5em;
      color: rgba(255, 255, 255, 0.75);
      letter-spacing: 1.5px;
      margin-top: 50%
    }
    background-image: url(https://i.imgur.com/yO2ivoD.jpg);
    background-position: center;
    background-size: cover;
  }
}
</style>
